*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("image/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
header{
    display: flex;
    column-gap: 160px;
}
.logo img{
    width: 145px;
}
.head{
    align-self: center;
    font-size: 2rem;
    color: white;
    text-decoration: underline;
}
.sec2{
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 9px;
}
.sec1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 14px;
    margin-left: 12px;
    flex-wrap: wrap;
}
.sec1 label{
    font-weight: bold;
    color:#edf1ec;
    font-size: 1.3rem;
}
.sec1  #city{
    margin-left: 39px;
}
input{
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}
.but button{
    padding: 3px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.but button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#Fajr ,#Dhuhr,#Asr,#Maghrib,#Isha,#sunset,#Imsak,#Sunrise,#Midnight,#Date{
    background-color: rgb(145, 167, 167);
    border: 2px solid black;
    border-radius: 8px;
    font-size:25px;
    padding-top: 22px;
    text-align: center;
    color: #074434;
    font-weight: bold;
    min-height: 80px;
    min-width: 300px;
    list-style: none;
}
#ref{
    padding: 3px 8px;
    color: #074434;
}
.list1 ,.list2{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.sec1 .inp1{
    display: flex;
}
.inpjoin{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inpjoin:focus-within  #refresh1 {
    cursor: pointer;
    opacity: 0.4;
} 
 .inpjoin #refresh1{
    position: absolute;
    right: 6px;
    opacity: 0; 
   transition: all;
   transition-duration: 0.3s;
   transition-timing-function:ease-in-out;

} 
.inp2{
display: flex;
}
.inpjoin1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inpjoin1:focus-within #refresh2{
    cursor: pointer;
    opacity: 0.4;
} 
.inpjoin1 #refresh2{
    position: absolute;
    right:6px;
   opacity: 0; 
   transition: all;
   transition-duration: 0.3s;
   transition-timing-function:ease-in-out;
} 
@media (max-width:767px){
    header{
        column-gap: 82px;
    }
    .sec2{
        justify-content: center;
        padding-left: 0px;
    } 
}
@media (max-width:567px){
    header {
        column-gap:28px;
    }
    .head{
        font-size: 1.5rem;
    } 
   }
@media (max-width:390px) {
  
        .logo img {
            width: 112px;
        }
        .head{
            font-size: 1.08rem;
        }
        header{
            column-gap: 10px;
        }
        .sec1 .inp1{
             display: flex;
            flex-direction: column;
            row-gap: 13px; 
            padding: 8px;
        } 
        .sec1{
            margin-top: 33px;
        }
        .sec1 #city {
             margin-left: 0px; 
             height: 34px;
        }
        .inp2 {
           display: flex; 
            flex-direction: column;
            row-gap: 13px; 
            padding: 8px;
        }
        .sec1 #country {
            height: 34px;
       }
       .sec1 label{
        font-size: 1.6rem;
        color: #281501;
    }
   .but{
    display: flex;
    justify-content: center;
    column-gap: 12px;
   }
    .but button {
        padding: 8px 46px;
         font-size: 1.2rem; 
    }
    #ref {
        padding: 5px 14px;
    }
   
}
@media (max-width:380px) {
    .head{
        font-size:0.99rem;
    }
    
}
